#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}

#timer-label {
  margin-bottom: 2rem;
}

#time-left {
  margin-bottom: 2rem;
}

input[type="number"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 6rem;
  text-align: center;
  padding: 10px;
}

label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 6rem;
  text-align: center;
}

.duration-label {
  margin-right: 10px;
}